<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="floating">Cadastrar Veiculo</ion-label>
        <ion-input placeholder="Marca"></ion-input>

        <ion-input placeholder="Modelo"></ion-input>
      </ion-item>
      

    <ion-list lines="none">
      <ion-list-header>
        <ion-label position="floating">Veiculos</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let veiculo of dadosPagina">

        <ion-label>{{veiculo.marca}}</ion-label>
        <ion-label>{{veiculo.nome}}</ion-label>
      </ion-item>
     
    </ion-list>
    <ion-button (click)="atualizar()" >Atualizar</ion-button>
</ion-content>
